<% collection.each do |story| %>
  <div class="story">
    <%= link_to (image_tag story.image_show.url if story.image?), story %>
    <%= link_to story.name, story %>
    <% if logged_in? %>
      <%= link_to like_unlike_path(id: story),
      id: "like-#{story.id}", class: "btn btn-primary", remote: true do %>
        <span><%= story.follows.size %></span>
        <% if has_like story.id, current_member.id %>
          <i class="fa fa-thumbs-down"></i>
        <% else %>
          <i class="fa fa-thumbs-up"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
