<% provide :title, t(".about") %>
<div id = "about">
  <p>
    <%= t ".web" %>
  </p>
<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2><%= t ".post" %></h2>
  <%= link_to t(".sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
