<% provide :title, @story.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="member_info">
      <h1>
        <%= @story.name %>
        <%= @story.image %>
        <%= @story.describe %>
      </h1>
    </section>
  </aside>
</div>
