<div class="row" id="chapter-<%= chapter.id %>">
  <div>
    <div class="col-md-11 chapter">
      <%= link_to chapter.name, chapter %>
    </div>
    <% if logged_in? && current_member.admin? %>
      <div class="col-md-1 chapter">
        <%= link_to chapter, method: :delete, data: {confirm: t(".you_sure")}, remote: true do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
