$color-blue: blue;
$white-color: #fff;
$white: #fff;
$gray-medium-light: #eaeaea;
$color-red: red;
$red: red;
$black: black;
$color-xam: #DCDCDC;
$ghi-color: #333;
$colorone: #eee;
$colortwo: #000;
$colorthree: #666;
$colorfour: #f0f0f0;
$colorfive: #c00;
$blue-a: #365899;
$white-gray: #90949c;
$white-gray-a: #b7a8a8;
$white-gray-b: #e6e5e5;
