$color-blue: blue;
$white-color: #fff;
$white: #fff;
$gray-medium-light: #eaeaea;
$color-red: red;
$red: red;
$color-xam: #DCDCDC;
$ghi-color: #333;
$colorone: #eee;
$colortwo: #000;
$colorthree: #666;
$colorfour: #f0f0f0;
$colorfive: #c00;
