@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';


#logo{
  float: left;
  margin-left: -100px;
  font-size: 1.5em;
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#logo:hover {
  color: $color-blue;
  text-decoration: none;
}

nav.group{
  margin-right: 560px;
  font-size: 15px;
}

nav.group a {
  color: $color-blue;
}

footer ul {
  float: right;
  list-style: none;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#contact{
  margin-top: 50px;
  text-align: center;
}

#help{
  margin-top: 50px;
}

#about{
  margin-top: 50px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.member_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

footer a:hover {
  color: $color-red;
}

footer a:hover {
  color: $color-red;
}

footer ul li {}
.gravatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid $white;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color:$red;
  ul {
    color:$red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* members index */

.members {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

#content {
  color: $color-blue;
  font-size: 30px;
}

#contentleft {
  width: 840px;
  border: ridge;
  float: left;
  background: $color-xam;
}

#sidebar{
  float: right;
  width: 290px;
  border: ridge;
  background: $color-xam;

}
 #name{
 color: $color-blue;
 font-size: 30px;
 }

#title{
  color: $color-blue;
}

#title1{
  width: 1200px;
  height: 200px;
  box-sizing: content-box;
  margin-top: 40px;
  border: 2px solid $black;
  background: $color-blue;
  text-align: center;
  font-size: 50px;
}

.image_story{
  width: 456px;
  height: 300px;
  float: left;
}

.describe_story{
  width: 684px;
  height: 300px;
  float: left;
  padding: 10px;
}

.read_chapter{
  width: 500px;
  height: 300px;
}
.comment{
  margin-left: 50px;
  width: 300px;
  height: 300px;
  float: left;
}

.new_chapter{
  width: 400px;
}

.name-member {
  font-weight: 600;
  white-space: nowrap;
  color: $blue-a;
  cursor: pointer;
}

.commented-time {
  color: $white-gray;
}

.comment-new {
  border: 1px solid $white-gray-a;
  min-height: 70px;
  max-height: 70px;
  line-height: 4em;
  text-indent: 10px;
}

.content-comment {
  margin-top: 10px;
  border: 1px solid $white-gray-b;
  border-radius: 5px;
  line-height: 4em;
  text-indent: 10px;
}

.margin-cmt {
  margin-top: 10px;
}

.error-comment {
  color: $red;
  font-size: 14px;
}

.label-chapter {
  display: inline-block;
}

.red {
  color: $red;
}

.condition {
  margin-top: 10px;
  color: $red;
  text-align: center;
}

.chapter {
  border-bottom: 1px solid $white-gray-b;
  padding: 5px 20px;
}

.story {
  padding-bottom: 10px;
  padding-left: 10px;
}

.new_story {
  padding-bottom: 10px;
  padding-left: 15px;
}
