@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

#logo{
  float: left;
  margin-left: -100px;
  font-size: 1.5em;
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: $color-blue;
  text-decoration: none;
}

nav.group{
  padding-top: 40px;
  margin-right: 500px;
  font-size: 15px;
}

nav.i18n{
  margin-top: 50px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $white-color;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
