<% unless current_member?(@member) %>
  <div id="follow_form">
  <% if current_member.following?(@member) %>
    <%= render "members/unfollow" %>
  <% else %>
    <%= render "members/follow" %>
  <% end %>
  </div>
<% end %>
